.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0 15rem;
	background-color: $color-secondary;
	color: $color-white;
	box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

	&__logo {
		padding: 1.5rem;
		cursor: pointer;

		& img {
			height: 3rem;
		}
	}

	&__links {
		display: flex;
	}

	&__link {
		cursor: pointer;
		text-transform: uppercase;
		list-style: none;
		transition: all 0.2s;
		margin: 0 1rem;
		padding: 1.6rem;
		font-size: 1.6rem;

		&:hover {
			color: $color-primary;
		}
	}
}
